*{
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}

header{
  background-color: #345;
  color: #fff;
  text-align: center;
  padding: 1em;
}
Link{
  text-decoration: none;
  color: #fff;
}
form{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
input{
  display: block;
  width: 80%;
  padding: 0.8em 0.4em;
  margin: 1em 0;
  text-transform: capitalize;
}
input[type="submit"]{
  border: none;
  outline: none;
  background-color: #345;
  color: #fff;
}
.color-list{
  width: 100%;
  margin: auto;
  background-color: #f3e6e6;
  padding: 1em;
}
.color{
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: .7em auto;
  border-radius: 5px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.color-card{
  width: 30%;
  padding: 1em 0.5em;
}
.color-info{
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding: 1em 0.5em;
  text-transform: capitalize;
}
.color-info li{
  list-style: none;
}

span{
  color: #fff;
  text-align: center;
  padding: 0.25em 0.6em;
  margin: 0 0.2em;
  background-color: #e92828;
  cursor: pointer;
}
.star {
cursor: pointer;
height: 15px;
width: 15px;
margin: 2px;
float: left;
background-color: grey;
clip-path: polygon(
50% 0%,
63% 38%,
100% 38%,
69% 59%,
82% 100%,
50% 75%,
18% 100%,
31% 59%,
0% 38%,
37% 38%
);
}
.star.selected {
background-color: red; }